[Unit]
Description=power4 serial monitor daemon
Documentation=man:power4ctl(1)

[Service]
Environment="PORT=/dev/ttyACM0"
Environment="BAUD=115200"
Environment="TIMEOUT=2"
Environment="INTERVAL=60"
Environment="LOCK_TIMEOUT=5"
Environment="OUTDIR=/run/power4"
EnvironmentFile=-/etc/default/power4ctl
ExecStart=/usr/local/bin/power4ctl -D -p ${PORT} -b ${BAUD} -t ${TIMEOUT} -i ${INTERVAL} -l ${LOCK_TIMEOUT} -o ${OUTDIR}
Restart=on-failure
RestartSec=5
RuntimeDirectory=power4
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
